<footer class="footer">
  <div class="container-fluid">
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script> Embedded System Laboratory, Dankook University
    </div>
    <!-- your footer here -->
  </div>
</footer>
